body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    background: #FEAC25;
}

.navbar ul{
    list-style: none;
    background-color: #3B444B;
    text-align: center;
    padding: 0;
    margin: 0;
}
.navbar li{
    font-size: 1.2rem;
    line-height: 40px;
    text-align: left;
}

.navbar a{
    text-decoration: none;
    color: #FEAC25;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #3B444B;
    transition: .3s;
}

.navbar a:hover{
    background: #FEAC25;
    color: #3B444B;
    text-decoration: underline;
}

.navbar li li{
    font-size: 0.8rem;
}

.objective{
    padding: 30px 0 0 150px;
}
.objective h1{
    text-align: left;
    font-size: 70px;
}
.member_line{
    height: 5px;
    width: 12%;
    margin-top: -40px;
    margin-left: 380px;
    left: 50px;
    border: none;
    color: #02C1ED;
    background-color: #02C1ED;
}
.par-1{
    margin: 20px  100px 0 100px;
    overflow-x: hidden;
}
.par-1 p{
    font-size: 18px;
}
.par-2 {
    margin: 20px  100px 0 100px;
    overflow-x: hidden;
}
@media screen and (min-width:850px){
    .navbar li{
        width: 130px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4rem;
        display: inline-block;
        margin-right: -4px;
    }
    .navbar a{
        border-bottom: none;
    }
    .navbar > ul > li{
        text-align: center;
    }
    .navbar > ul > li > a{
        padding-left: 0;
    }
    /*submenu*/

    .navbar li ul{
        position: absolute;
        display: none;
        width: inherit;
    }
    .navbar li:hover ul{
        display: block;
    }
    .navbar li ul li{
        display: block;
    }
    .par-1{
    margin: 20px  200px 0 350px;
}
.par-1 p{
    font-size: 18px;
}
.par-2 {
    margin: 20px  200px 0 350px;
}
}